/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2016, 18:37:07
    Author     : Isaque
*/

.esconder{
    text-decoration: none;
    border: none;
    background: none;
    padding: 0px;
}