/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2016, 18:25:27
    Author     : isaque.bcosta1
*/

.linha-unica{
    display: inline-block;
    
}
.linha-unica label,.linha-unica input, .linha-unica button{
    display: inline-block;
    margin: 10px;
}
.form-group .linha-unica{
    display: inline-block;
    width: 150px;
}
label:after{
    content: ":";
}


