/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2016, 18:25:27
    Author     : isaque.bcosta1
*/

#t{
    position: relative;
    left: 40%;
    top: 170px;
    font-size: 30pt;
}
form{
    position: relative;
    display: inline-block;
    top: 210px;
    left:20%;
    color: #000000;
}
#campos-relatorio{
    display: inline-block;
    width: auto;
    border: 0px;

}
.campos-relatorio{
    position: relative;
    display: inline-block;
    color: #000000;
    font-size: 15pt;
}
.campo{
    position: relative;
    display: inline-block;
}

.campos-relatorio select, .campos-relatorio input{
    width: auto;
    height: 25px;
}
