/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2016, 13:35:32
    Author     : Isaque
*/
body{
    
}
.cabecalho{
    display: block;
    position: absolute;
    top: 4px;
    width: 100%;
    margin: 3px;
    background-color: #FFFFFF;
    height: 100px;
}
.menu.superior{
    display: inline-block;
    position:fixed;
    
}
#config{
    margin: 10px;
}
.menu.superior.config{
    position: relative;
    left: 10px;
    top: 100px;
    margin: 40px;
}
.menu.superior.logo{
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 10px;
    font-size: 30pt;
}
.menu.superior.help{
    position: absolute;
    right: 3%;
    top: 0px;
}
.esconder{
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.menu a{
    text-decoration: none;
    color: #000000;
}
body .menu.superior.config>.menu{
    visibility: visible;
    color: #FFFFFF;
    width: 250px;
    height: auto;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 1px;
    
}
body .menu.opcoes{
    margin-top: 15px;
    margin-left: 10px;
    height: 30px;
    border-bottom: #FFFFFF 1px solid;
    border-top: #FFFFFF 1px solid;
    font-size: 15pt;
}
#menuPedido{}
body.menuAberto .menuPedido{}

body.menuPedido .pedido .menu-secundario{
    visibility: visible;
    background: #FFFFFF;
    width: 298px;
    color: #000000;
    height: auto;
}
body.menuPedido .pedido .opcoes-secundarias{
    padding-top: 6x;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    font-size: 13pt;
}

body.menuFuncionario .funcionario .menu-secundario{
    visibility: visible;
    background: #FFFFFF;
    width: 298px;
    color: #000000;
    height: auto;
}
body.menuFuncionario .funcionario .opcoes-secundarias{
    padding-top: 6x;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    font-size: 13pt;
}

body.menuServicoProduto .servicoProduto .menu-secundario{
    visibility: visible;
    background: #FFFFFF;
    width: 298px;
    color: #000000;
    height: auto;
}
body.menuServicoProduto .servicoProduto .opcoes-secundarias{
    padding-top: 6x;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    font-size: 13pt;
}

body.menuCliente .cliente .menu-secundario{
    visibility: visible;
    background: #FFFFFF;
    width: 298px;
    color: #000000;
    height: auto;
}
body.menuCliente .cliente .opcoes-secundarias{
    padding-top: 6x;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    font-size: 13pt;
}

body.menuChamado .chamado .menu-secundario{
    visibility: visible;
    background: #FFFFFF;
    width: 298px;
    color: #000000;
    height: auto;
}
body.menuChamado .chamado .opcoes-secundarias{
    padding-top: 6x;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    font-size: 13pt;
}

body.menuRelatorio .relatorio .menu-secundario{
    visibility: visible;
    background: #FFFFFF;
    width: 298px;
    color: #000000;
    height: auto;
}
body.menuRelatorio .relatorio .opcoes-secundarias{
    padding-top: 6x;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 50px;
    height: auto;
    font-size: 13pt;
}
body.menuFechado menu-secundario{
    visibility: hidden;
    height: 0px;
    width: 0px;
}


.link:hover{
    cursor: pointer;
    left: 100px;
}
#relatorio{
    color: #FFFFFF
}